// .clr-input {
//   color: #212529;
//   //  border: 1px solid #ced4da;
// //   border-radius: 0.25rem;
//   padding: 0.75rem 0.75rem;
//   margin-top: 10px;
//   width: 100%;
//   margin-bottom: 10px;
// }

.eye{
  position: absolute;
}
#hide1{
  display: none;
}
input[type=text],[type=date],textarea {
  width: 30%;
  padding: 15px 15px;
  background-color:rgb(255, 255, 255);
 // margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

